@charset "UTF8";

body {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    

}

fieldset {

    border-radius: 20px;
    border: 3px solid;
    background-color: rgba(0, 0, 0, 0.8);

}

#Dados {
    margin: auto;
    max-width: 800px;
}

legend {

    border: 1px solid black;
    border-radius: 5px;
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
    font-size: 24px;
    max-width: 250px;
    margin: auto;
    margin-bottom: 0.3em;
    background-color: black;
    color: antiquewhite;
    padding-top: 3px;
    padding-bottom: 3px;


}
label{
    font-size: 20px;
    margin: auto;
}

input {
    border: none;
    border-bottom: 1px solid white;
    background: none;
    outline: none;
    color: rgba(109, 107, 107, 0.95);
    font-size: 20px;
    width: 100%;
    margin-bottom: 0.5em;



}
select{
    background:rgb(0,0,0,0.5);
    margin: auto;
    color: white;
    font-size: 16px;
    outline: none;
    width: 100%;
    border-radius: 2em;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    padding: 0.5em;

}
option{
    border-radius: 2em;
    

}


button {
    display: block;
    background-color: black;
    width: 50%;
    padding: 8px;
    border: none;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    font-size: medium;
    color: white;
    margin-top: 1em;
    font-weight: bold;


}

button:hover {

    color: #999;


}
button:active{
    background-color: white;
    color: black;
    outline: 2px solid black;
}

#h2 {
    margin-top: 1.5em;
    margin-bottom: 1em;
}


option {
    padding: 0;
}





label {
    color: antiquewhite;

}

.selecao {
    
    margin: 10px;
    padding: 10px;
    
    width: fit-content;
}

.separador{
    display: inline;

}
